@keyframes animKey0 {
  0% {bottom: -100%;}
  25% {bottom: 0%;}
  100% {bottom: 0%;}
}
@keyframes animKey1 {
  0% {bottom: -100%;}
  50% {bottom: 0%;}
  100% {bottom: 0%;}
}
@keyframes animKey2 {
  0% {bottom: -100%;}
  75% {bottom: 0%;}
  100% {bottom: 0%;}
}